extends layout

block content
  .wrap
    .container-fluid
      div(ng-controller="inputFieldController as inputCtrl")
        input(type="text" class="form-control input-lg" ng-model='inputCtrl.sampleText')
        button(class="btn btn-default" ng-click="inputCtrl.onClick(inputCtrl.sampleText)")
        h1 Hey {{inputCtrl.sampleText}}
      .push
    .container-fluid
      ul(class="list-group" ng-controller="savedlistController as listCtrl")
        li(class="list-group-item" ng-repeat="entry in listCtrl.sampleData track by $index")
          h2 {{entry}}
  .footer
    .container-fluid
      .row
        .col-xs-8.col-sm-9


block body_end
